/* shared css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
}

.btn{
    background-color: #469165;
    border: none;
    border-radius: 5px;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;
}
button:hover{
    background-color: red;
    /* color: white; */
}

.container{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    border: 2px solid red;

}

.section-heading{
    text-align: center;
    margin-top: 70px;
}

/* Main css */
header {
    background-color: #ffff;
}

header nav {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    align-items: center ;
}

nav .menu {
    display: flex;
    list-style: none;
    gap: 32px;
    align-items: center;
    fon
    /* text-decoration: none; */
}

nav .menu a{
    text-decoration: none;
}

.banner {
    background: url(./assets/hero-bg.png), #FFFFFF;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 115px 120px 180px;
    margin: 0;
}

.banner-container{
    padding: 0 295px;

}

.section-heading .open-access-btn{
    padding: 8px 12px;
    color: #30B868;
    background-color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 1000px;
    margin-bottom: 16px;
}

.section-heading h1{
    font-size: 72px;
    margin-bottom: 16px;
}
.section-heading .white-color{
    color: white;
}
.section-heading .green-color{
    color: #30B868;
}

.section-heading p{
    font-size: 18px;
    font-weight: 200;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 32px;
}

.banner-btn{
    display: flex;
    gap: 16px;
    justify-content: center;
}

.banner-btn .play-btn{
    border: 2px solid #FFFFFF;
    background: none;
}

.note-section-heading h1{
    font-size: 48px;
    color: black;
    margin-bottom: 16px;
}
.note-section-heading p{
    font-size: 16px;
    font-weight: 250;
    line-height: 20px;
    color: rgb(0, 0, 0);
    margin-bottom: 44px;
}

.note-container .card-box{
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-bottom: 120px;
}
.card-box .note-card{
    width: 100%;
    max-width: 322px;
    text-align: center;
    padding: 24px;
    /* border: 1px solid red; */
    border-radius: 8px;
    box-shadow: 0 2px 40px rgba(0, 0, 0, 0.288);
    align-items: center;
}
.note-card .image-icon {
    width: 60px;
    height: 60px;
    background: #F95555;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 46px auto 16px;
}
.note-card .image-icon .img{
    width: 32px;
}

.note-card h3{
    font-size: 24px;
    font-weight: 650;
    color: #001931;
    margin-bottom: 16px;
}

.note-card p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
}

.knowledge-container{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 60px;
}
.knowledge-section-heading{
    max-width: 700px;
}
.knowledge-section-heading .solution{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #469165;
    margin-bottom: 16px;
}

.knowledge-section-heading h1{
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    margin-bottom: 16px;
}
.knowledge-section-heading p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 40px;
}
.knowledge-section-menu .inline {
    display: flex;
    gap: 6px;
}

.challenge-container{
    text-align: center;
    background-color: #F7F6F2;
    padding: 80px 40px;
}

.challenge-container .challenge-section-heading h1{
    font-size: 40px;
    font-weight: bold;
    color: #001931;
    padding-bottom: 16px;
}

.challenge-section-heading p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #627382;
    padding-bottom: 24px;
}

.challenge-extra-info .challenge-btn{
    margin-bottom: 16px;
}

.challenge-extra-info p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}

